p {
    animation-duration: 3s;
    animation-name: opacityInOut;
}

@keyframes opacityInOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

p + p {
    animation-duration: 5s;
    animation-name: slide;
}

@keyframes slide {
    from {
        margin-left: 0%;
    }
    to {
        margin-left: 90%;
    }
}