#exercise-1 {
  animation: excs 3s ease 1s;
  /* = animation-name: excs;
       animation-duration: 3s;
       animation-timing-function: ease;
       animation-delay: 1s; */
}

#exercise-2 {
  animation: excs 2s ease 2s 1 normal forwards;
  /* animation-name: excs;
     animation-duration: 2s;
     animation-timing-function: ease;
     animation-delay: 2s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: forwards; */
}

#exercise-3 {
  animation: excs 1s ease 1s 2 alternate;
}

#exercise-4 {
  animation: excs 5s;
  animation-play-state: paused;
}

#exercise-4:hover {
  animation-play-state: running;
}

#exercise-5 {
  animation: excs 5s;
  animation-play-state: paused;
}

#section-5:hover #exercise-5 {
  animation-play-state: running;
}

@keyframes excs {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 90%;
  }
}

#exercise-6 {
  position: relative;
  animation: exc6 1s ease 0s 1;
  animation-play-state: paused;
}

#exercise-6-square:hover + #exercise-6 {
  animation-play-state: running;
}

@keyframes exc6 {
  to {
    margin-right: 84%;
  }
}

#exercise-7 {
  animation: exc7 5s ease 0s infinite alternate;
}

@keyframes exc7 {
  to {
    width: 100%;
    height: 100%;
  }
}

#exercise-8 {
  animation: exc8 4s ease 0s 1 normal forwards;
}

@keyframes exc8 {
  to {
    background-color: yellow;
  }
}

#exercise-9 {
  animation: exc9 4s ease 0s infinite alternate;
}

@keyframes exc9 {
  33% {
    background-color: yellow;
  }
  66% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}

#exercise-10 {
  animation: exc10 4s ease 0s infinite alternate;
}

@keyframes exc10 {
  33% {
    background-color: yellow;
  }
  66% {
    background-color: blue;
  }
  100% {
    background-color: green;
    width: 100%;
    height: 100%;
  }
}

#exercise-11_1 {
  animation: exc11 3s linear 2s infinite;
}

#exercise-11_2 {
  animation: exc11 3s ease 2s infinite;
}

#exercise-11_3 {
  animation: exc11 3s ease-in 2s infinite;
}

#exercise-11_4 {
  animation: exc11 3s ease-out 2s infinite;
}

#exercise-11_5 {
  animation: exc11 3s ease-in-out 2s infinite;
}

@keyframes exc11 {
  to {
    margin-left: 100%;
  }
}

#exercise-12 {
  animation: exc12 1s ease 0s 1 normal forwards;
  animation-play-state: paused;
}

#exercise-12:active {
  animation: exc12 1s ease 0s 1 normal forwards;
  animation-play-state: running;
}

@keyframes exc12 {
  to {
    opacity: 0;
  }
}
